@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 1;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(187, 45, 45);
}

header {
    background-color:bisque;
    height: 8vh;
}

main {
    background-color: antiquewhite;
    min-height: 84vh;
}

footer {
    background-color: black;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: antiquewhite;
        text-align: center;
    }
}

.bt-classico{
    padding: 8px;
    margin: 2px;
    border: 0.1px solid skyblue;
    font-size: 1.3em;
    background-color: white;
    border-radius: 5px;
}