main {
    div{
        width: 80%;
        margin: auto;

        display: flex;
        justify-content: center;
        flex-direction: column;

        form {
            background-color: chocolate;
            padding: 2px;
            width: fit-content;
            border-radius: 8px;

            input, select {
                padding: 3px;
                font-size: 1.2em;
                min-width: 200px;
            }
        }
    }
}

