main {

    padding-top: 15px;

    div {
        width: 80%;
        margin: auto;

        table {
            width: 100%;
            border: 0.5px solid chocolate;
            border-collapse: collapse;

            th, td {
                padding: 5px;
                border: 0.5px solid chocolate;
            }

                td:last-child {
                    display: flex;
                    justify-content: center;

                    button {
                        margin: 2px;
                        background-color: transparent;
                        border: 0.2px solid red;
                        padding: 5px;
                        border-radius: 5px;
                    }
                }

        }
    }
}