nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: nome;
        color:brown;
    }

    a:hover{
        text-decoration: underline;
    }
}